header
{
    text-align: center;
}
h1
{
    margin: 5px;
}

nav
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-back;
    padding: 50px 0 50px 0;
    h2{
        margin-top: 0px;
        width: 80%;
    }
    p{
        width: 90%;
    }
}

.btn
{
    @include button ;
    @include shadow;

    &:hover{
        &::after{
            opacity: 1;            
        }

    }
    &::after {
        @include buttonafter;
        @include shadow(50);
    }
}

